body {
    background-color: black !important;
    color: white;
    overflow: hidden;
}

#app {
    background-color: black;
}

div {
    background-color: black;
}

p {
    color: white;
}

div h1 {
    color: white;

}

label {
    color: white;
}

.container-fluid {
    width: 100vw !important;
    height: 100vh !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid .btn {
    background-color: #FAB532;
    border: 1px solid black;
    color: white;
}

/* .form-select {
    ;
} */

.form-control-file {
    background-color: #FAB532;
    border: 1px solid black;
    color: white;
    overflow: hidden;
    width: 300px;
}

.table-container {
    overflow: auto;
    width: 100%;
    height: 85%;
}

th, td {
    border: 1px solid #FAB532 !important; 
    background-color: black;
    color: white;
}

th .cell-content {
    height: 60px;
    font-size: 16px;
    display: flex;
    align-items: center;
    white-space: normal;
}

td .cell-content {
    height: 40px;
    font-size: 16px; 
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 2px;
}

th .small, td .small {
    width: 75px;
}
th .medium, td .medium {
    width: 150px;
}
th .large, td .large {
    width: 250px;
}



.form-check-input:checked {
    background-color: #FAB532;
}
